.car-svg-container {
    width: calc( 100px + 15vw );
    margin: 0 auto;
    position: absolute;
    top: 20rem;
    right: calc(30vw - 10rem);
}
.cover-container {
    text-align: start;
    margin-top: -3rem;
    width: calc(40vw + 300px);
}

.landing-container main {
    display: flex;
    padding: 0 1rem;
}
.landing-container main > .cover-app-description {
    width: 20%;
    margin-top: 7rem;
    margin-left: 10rem;
}


@media (max-width: 1000px) {
    .cover-container {
        width: 100vw;
    }
    .landing-container main > .cover-app-description {
        width: 20%;
        margin-top: 7rem;
        margin-left: 0rem;
    }
}