.App {
  text-align: center;
}
.welcome{
  z-index: 1;
  font-size: 3rem;
}
.fa-arrow-circle-left{
  font-size: 3.5rem;
  width: 10%;
  margin: 10px 0;
  color: #1976d2;
}
.fa-arrow-circle-left:hover{
  color: #6d1b7b;
}
.reqBox{
  width: 50%;
  height: auto;
  padding: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.w-90{
  width: 90%
}
.reqBoxTwo{
    width: 50%;
    height: auto;
    padding: 50px;
    z-index: 10;
    display: flex;
    /* align-items: flex-start; */
    justify-items: center;
    flex-direction: none;
}


.MuiDialog-paperFullWidth-63{
  height: 100%;
}

.driver-card{
  color: white;
  height: 250px;
  width: 25%;
  background: #1976d2;
  z-index:50;
  border-radius: 15px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
  margin: 0 5px;
}
.driver-card:hover{
  background: green;
}
.driver-card img{
  border: 3px solid white;
  width: auto;
  /* padding: 0 30px; */
  height: 40%;
  border-radius: 50%;
}

/* Hover Styles */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}