.driver-header {
  padding: 20px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .driver-header {
    text-align: center;
  }
}

/* .driver-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.driver-header > a > img {
  height: 4.5rem;
  margin: 0.8rem 0 0 0.8rem;
}
.driver-header > nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.driver-header > nav ul {
  display: flex;
  width: fit-content;
  align-items: baseline;
  margin-right: 2rem;
}
.driver-header ul > li {
  padding: 4px 5px;
  margin: 0 calc(3vw - 10px);
}

.driver-header ul > li > button {
  height: 1.9rem;
  width: 5.3rem;
  color: white;
  font-size: 1rem;
  background: linear-gradient(
    to right,
    rgba(103, 58, 183, 0.6),
    rgba(33, 150, 243, 0.6)
  );
  border-radius: 5px;
  cursor: pointer;
} */
