.google-maps-container{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#map{
  position: absolute;
}


.reqBoxTwo, .reqBox {
  backdrop-filter: blur(6px);
}
.hover-cursåor{
  cursor: pointer;
}
