body{
  padding: 0
}
.google-maps-container{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#map{
  position: absolute;
  overflow: visible;
}


.reqBoxTwo, .reqBox {
  backdrop-filter: blur(6px);
}
.hover-cursåor{
  cursor: pointer;
}


.places-list {
  background-color: white;
  height: 60vh;
  width: 400px;
  z-index: 10;
  border-radius: 10px;
  position: relative;
  bottom: 8rem;
  box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.5);
  padding: 0.5rem;
}