.CTA{
    width: 100%;
    height: 70vh;
    background: #0277bd;
    /* border-radius: 0 0 25% 25%;
    position: relative; */
    padding: 20px;
}
.CTA-Text{
    
}
.h-80{
    /* height: 80%; */
}
.w-50 {
    width: 50%;
}
.w-100{
    width:100%;
}
.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.center-content{
    justify-content: center;
    align-items: center;
}
.devices-img{
    max-width: 100%;
    height: auto;
}

.header-font{
    font-size: 2rem;
    width: 80%;
    color: #F4F5F9;
}
.self-end{
    align-self:flex-end;
}
.absolute-cards{
    position: relative;
    height: 124px;
    width: 100%;
    display: flex;
    margin: 0 0 100px;
}
.absolute-cards a{
    color: white;
}
.app-buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-buttons img{
    max-width: 100%;
}
@media only screen and (max-width: 750px) {
    .header-font{
        font-size: 3rem;
        width: 100%;
    }
    .CTA{
        height: auto;
        flex-wrap: wrap
    }
    .w-50{
        width:100%;
    }
    .absolute-cards{
        position: none;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        margin: 30px auto;
    }
    .app-buttons{
        flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 400px) {
    .header-font{
        font-size: 2.5rem;
    }
    .CTA{
        height: auto;
    }
  }