.authentication-background {
  background-image: radial-gradient(
    ellipse 550px 300px,
    rgba(67, 96, 100, 0.7),
    rgba(2, 14, 31, 0.7)
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.authentication-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
  background-color: rgba(14, 14, 14, 0.4);
  /* animation: filter 8s steps(10) infinite; */
}

.auth-form {
  background-color: white;
  height: 500px;
  width: 400px;
  padding: 5rem;
  border-radius: 8px;
  /* animation: auth-form; */
  animation-duration: 0.3s;
}
.manual-auth {
  margin-bottom: 1rem;
}
button.email-button {
  width: 100%;
  margin-top: 1rem;
}
button.google-button {
  width: 100%;
  margin-top: 1rem;
}
button.phone-button {
  width: 100%;
  margin-top: 1rem;
}
button.email-button:hover {
  box-shadow: 0px 10px 49px -26px rgba(0, 0, 0, 0.75);
}
button.google-button:hover {
  box-shadow: 0px 10px 49px -26px rgba(0, 0, 0, 0.75);
}
button.phone-button:hover {
  box-shadow: 0px 10px 49px -26px rgba(0, 0, 0, 0.75);
}
button.login-button {
  width: 100%;
  margin-top: 10px;
}

/* @keyframes auth-form {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 450px) {
    .auth-form {
        width: 90vw;
        max-width: 360px;
        padding: 5rem 1.5rem;
    }
}

@keyframes filter {
    0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
} */
